
<nz-layout>
    <nz-header>
        <div class="header">
        </div>
    </nz-header>
    <nz-layout>
      <nz-sider [nzWidth]="300">
          <div class="silderbar">
            <app-silderbar-left></app-silderbar-left>
          </div>
        <!-- <app-silderbar-left></app-silderbar-left> -->
      </nz-sider>
      <nz-content>
            <div nz-row>
                <div nz-col nzSpan="6"></div>
                <div nz-col nzSpan="10">
                  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Đăng bài</span></button>
                  <nz-modal [(nzVisible)]="isVisible"  nzCancelText="Hủy" nzOkText="Đăng" nzTitle="Đăng bài" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" >
                    <ng-container *nzModalContent >
                      <app-addpost></app-addpost>
                    </ng-container>
                  </nz-modal>

                    <ng-template ngFor let-post [ngForOf]="postList" let-i="'index">
                      <app-posts [post]="post"></app-posts>
                  </ng-template>
                </div>
                <div nz-col nzSpan="8">
                  <app-chat></app-chat>
                </div>
              </div>
      </nz-content>
    </nz-layout>
  </nz-layout>