<div class="header">
  <div class="logo">
      <p>Fell <span>and </span>rating</p>
  </div>
  <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="" value="">
      </mat-form-field>
      <button mat-button class="search">
        Search
    </button>
      <button mat-raised-button class="profile" color="primary">
          Profile
      </button>
      <button mat-raised-button>
          Logout
      </button>
      <button mat-raised-button matBadge="7" color="warn" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
          Thông báo
      </button>
  </form>

</div>