
.header {
    height:64px;
    width: 100%;
    display: flex;
    border-radius:0 0 15px 0;
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 0%, #BFD);
}

.logo{
    min-width: 300px;
    text-align: center;  
    margin-top:12px;
    display:flex;
}
.logo span { 
    color: white ;
    font-size:18px;
    font-weight:bold;
}

.logo p { 
    color: green ;
    font-size:24px;
    font-weight:bold;
}

.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    display: flex;
  }
  
  .example-full-width {
    width: 50%;
  }
  .profile {
      margin-left: 250px;
  }
  button{
      height:36px;
      margin-top:12px;
      margin-right: 24px;
  }
  .search {
      margin-left:12px;
  }
