<div class="header">
  <div class="logo">
      <p>Review Food</p>
  </div>
  <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="" value="">
      </mat-form-field>
      <mat-select placeholder="Province" disableOptionCentering panelClass="select">
    
        <mat-option *ngFor="let province of provinces" [value]="province.name">
          {{province.name}}
        </mat-option>
      </mat-select>
      <mat-select placeholder="District" disableOptionCentering panelClass="select">
        <mat-option *ngFor="let district of districts" [value]="district.name">
          {{district.name}}
        </mat-option>
      </mat-select>
      <mat-select placeholder="Category" disableOptionCentering panelClass="select">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-select>
      <button mat-button class="search">
        Search
    </button>
      <!-- <button mat-raised-button class="profile" color="primary">
          Profile
      </button> -->
      <button mat-raised-button class="logout" (click)="logOut()">
          Logout
      </button>
      <button mat-raised-button matBadge="7" color="warn" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
          Thông báo
      </button>
  </form>

</div>