@import url(https://fonts.googleapis.com/css?family=Pacifico);
*{
  font-family: 'Pacifico' !important;
}
.form-create-post{
  display:flex;
  flex-direction: column;
}
nz-form-item {
  margin-top:24px;
}