<div class="container">
    <div class="login" [formGroup]="myGroup">
        <h1>Đổi mật khẩu</h1>
        <br><br/>


        <mat-form-field appearance="fill">
            <mat-label>Mật khẩu cũ</mat-label>
            <input matInput type="password" formControlName="oldPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mật khẩu mới</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nhập lại Mk</mat-label>
            <input matInput type="password" formControlName="rePassword">
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button (click)="back()">Trở lại</button>
            <button mat-raised-button color="primary" (click)="confirm()">Xác nhận</button>
        </div>
    </div>
</div>