<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Profile" nzIcon="mail">
  </li>
  <li nz-submenu nzTitle="Bạn Bè" nzIcon="appstore">
  </li>
  <li nz-submenu nzTitle="Nhóm" nzIcon="appstore">
  </li>
  <li nz-submenu nzTitle="MarketPlace" nzIcon="appstore">
  </li>
  <li nz-submenu nzTitle="Xem Thêm" nzIcon="appstore">
    <ul>
      <li nz-menu-item>
        <img src="../../../../assets/svg/shop.svg" alt="">
        Đổi Mật Khẩu</li>
      <li nz-menu-item>Đăng Xuất</li>
    </ul>
  </li>
</ul>
