@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

/* *{
  font-family: 'Dancing Script' !important;
} */
* {
  font-family: Tahoma, sans-serif !important;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mat-typography {
  display: block;
  width: 50em;
  height: 700px;

}

.action-edit button {
  width: 80px;
}

nz-carousel {
  align-items: center;
  max-height: 400px;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 24px;
}

[nz-carousel-content] {
  text-align: center;
  /* height: 160px;
  line-height: 160px; */
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

[nz-image] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.action {
  display: flex;
  justify-content: center;
}

.mat-button {
  width: 100%;
}


/* Rating */
.rating {
  display: flex;
}

label {
  width: 150px;
  line-height: 55px;
  font-size: 18px;
  font-weight: bold;
}

.mat-slider-horizontal {
  max-width: 300px;
  width: 100%;
}

.mat-dialog-title {
  color: blue;
}

h3 {
  color: #ff4081;
}

/* Comment*/
.comment {
  align-items: center;
  border-top: 1px solid rgb(53, 51, 51);
  padding-top: 10px;
  max-width: 30em !important;
}

nz-comment {
  background-color: white;
  text-align: left !important;
}

nz-comment textarea.ant-input {
  background-color: whitesmoke;
}

span {
  color: rgb(52, 52, 59) !important;
}

::ng-deep nz-comment.ant-comment {
  border-radius: 5px;
}

::ng-deep nz-comment.ant-comment>.ant-comment-inner {
  padding: 10px 18px 5px 30px;
  display: flex;
  border-radius: 5px;
}

::ng-deep nz-comment.ant-comment>.ant-comment-inner>.ant-comment-content {
  padding: 7px;
}

::ng-deep nz-comment.ant-comment>.ant-comment-inner>.ant-comment-avatar {
  margin-top: 12px;
}

.mat-dialog-actions {
  display: flex;
  flex-wrap: nowrap;
}

.comment-attributes {
  display: flex;
  /* justify-content: center; */
  background-color: white;
  align-items: flex-start;
  padding: 10px;
}

.main-comment {
  display: flex;
}

.comment-attributes .comment-avatar {
  padding: 0 20px 20px;
}

.comment-attributes .comment-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f2f5;
  border-radius: 18px;
  flex: 1;
  padding: 12px;
  margin-right: 12px;
}

.comment-attributes .comment-content .comment-content-name {
  color: black;
  font-size: 12px;
}

.comment-attributes .comment-content .comment-content-body {
  font-size: 14px;
  color: rgb(20, 18, 18);
  word-break: break-all;
  text-align: left;
}

.comment-attributes .comment-more {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.write-cmt {
  width: 450px !important;
}

/* End Comment*/
@media only screen and (max-width: 425px) {
  .mat-button {
    font-size: 12px;
    width: 100%;
    padding: 0;
  }

  .mat-dialog-actions {
    display: flex;
    flex-wrap: nowrap;
  }

  .write-cmt {
    width: 250px !important;
  }

}

@media only screen and (max-width: 600px) {
  .mat-button {
    font-size: 12px;
    width: 100%;
    padding: 0;
  }

  .mat-dialog-actions {
    display: flex;
    flex-wrap: nowrap;
  }

  .write-cmt {
    width: 350px !important;
  }
}