<div class="container" *ngIf="endLoading">
  
  <div class="header">
    <h2 mat-dialog-title>{{this.foodItem[1]}}</h2>
    <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu"
        style="border: none; padding: 0 ;">
        <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Chỉnh Sửa</li>
          <li nz-menu-item>Xóa</li>
        </ul>
      </nz-dropdown-menu>
  </div>
  <mat-dialog-content class="mat-typography">
    <!-- <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of this.foodItem[2]">
        <img id="images" nz-image nzSrc='{{ index }}' alt=""  (load)="loadImage()"/>
      </div>
    </nz-carousel> -->
    <ng-image-slider [images]="imageObject" #nav
    [autoSlide]="1"
    [imageSize]="{ width: '100%', height: '300px',borderRadius:'25px' }"></ng-image-slider>
    <div style="  border-top: 1px solid rgb(98 87 87 / 68%); padding-top : 5px" *ngIf="!isRateMode && !isModeComment">
      <h3>Giá: {{this.price}} đ </h3>
      <h3>Đánh giá: {{this.ratingAverage}}</h3>
      <p *ngIf="!this.foodItem[7]">Achieve the maximum speed possible on the Web Platform today, and take it further, via
        Web
        Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
        data requirements by building data models on RxJS, Immutable.js or another <span>see more</span></p>
      <p *ngIf="this.foodItem[7]">{{this.foodItem[7]}}</p>
    </div>
    <div class="ratings" *ngIf="isRateMode">
      <div class="rating 1">
        <label class="rating-tile">Giá Cả</label>
        <label class="rating-value">{{value1}}</label>
        <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value1"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
      <div class="rating 2">
        <label class="rating-tile">Chất Lượng</label>
        <label class="rating-value">{{value2}}</label>
        <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value2"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
  
      <div class="rating 3">
        <label class="rating-tile">Không Gian</label>
        <label class="rating-value">{{value3}}</label>
        <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value3"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
  
      <div class="rating 4">
        <label class="rating-tile">Tổng quan</label>
        <label class="rating-value">{{value4}}</label>
        <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value4"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
    </div>
  
  
  
  
    <div class="comment" *ngIf="!isRateMode && isModeComment">
      <ng-template [ngIf]="comment!= null">
        <div *ngFor="let item of comment; let i = index" class="comment-attributes">
          <div class="main-comment">
            <div class="comment-avatar">
              <img style="object-fit: cover; width: 32px; height: 32px; border-radius: 32px;" src={{item.ownerAvatarUrl}}>
            </div>
            <div style="flex: 1">
              <div class="comment-content">
                <div class="comment-content-name"><b>{{item.ownerName}}</b><span style="margin-left: 8px">
                    {{item.createdTime}}</span></div>
                <div class="comment-content-body">{{item.content}}</div>
              </div>
            </div>
            <div class="comment-more">
              <div>...</div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="write-cmt">
        <app-addcomment [iscommentPost]='false'></app-addcomment>
      </div>
    </div>
  </mat-dialog-content>
  
  <div style="border-top: 1px solid rgb(98 87 87 / 68%);">
    <mat-dialog-actions *ngIf="!isRateMode" align="center">
      <button mat-button color="accent">Thích</button>
      <button mat-button color="primary" (click)="changeModeComment()">Bình luận</button>
      <button mat-button color="warn" (click)="changeModeRate()">Đánh Giá</button>
    </mat-dialog-actions>
  
    <mat-dialog-actions *ngIf="isRateMode" align="center">
      <button mat-button color="accent" (click)="changeModeRate()">Back</button>
      <button mat-button color="primary" (click)="ratingFoodItem(value1,value2,value3,value4)">Lưu Đánh Giá</button>
    </mat-dialog-actions>
  </div>
</div>
<app-loading *ngIf="!endLoading"></app-loading>