.container{
  display: flex;
  justify-content:center;
}
.login{
  display: flex;
  flex-direction: column;
  margin-top: 200px;

}
.mat-form-field{
  width: 300px;
}
.actions {
  display: flex;
  justify-content:space-between;
}
.actions button {
  width:100%;
}
.actions button:nth-child(2){
  margin-left:24px;
}
