@import url(https://fonts.googleapis.com/css?family=Pacifico);
*{
  font-family: 'Pacifico' !important;
  font-family: Tahoma, sans-serif  !important;
  padding:0;
}
.post-container{
  margin-top:24px;
  width:90%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.count {
    padding-left: 8px;
    cursor: auto;
    width: 300px;
  }
  .ant-comment-rtl .count {
    padding-right: 8px;
    padding-left: 0;
  }
  
  .inf{
    display: flex;
    margin-left: 10px;
  }
  .inf-header {
    text-align:left;
    margin: 12px 24px 0 0px;
  }
  p.ng-star-inserted {
    text-align:left;
  }
  .action{
    display: flex;
    text-align:center;
  }
  .ant-card-body {
    padding:0;
  }
  
  /* comment */
  /* .ant-comment-inner{
    width:500px !important;
  } */
  p.ng-star-inserted {
      text-align: center;
  }
  p.content-post.ng-star-inserted{
    margin-left: 24px;
    text-align: left;
  }
  img.ng-star-inserted {
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
}

nz-card {
  /* margin-top:24px; */
  /* border-radius: 20px 20px 0 0;  */
  background-color: whitesmoke;
  border-radius: 10px 10px 0 0;
}

nz-avatar {
  margin:12px 24px 0 12px
}
h2,span{
  margin: 0;
  padding: 0;
}
h2 {
  color:blue;
}
span {
  font-size: 10px;
  font-style: italic;
  color: gray;
}
nz-comment { 
  background-color: white;
  text-align: left !important;
}
span.ant-comment-content-author-name.ng-star-inserted {
  color:blue !important;
}
nz-comment textarea.ant-input {
  background-color: whitesmoke;
  margin-right: 24px;
}


/* css gallery  */

.row-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-grid {
  flex: 50%;
  padding: 0 4px;
}
.column-grid.index1 img {
  max-width: 600px;
  max-height: 300px;
}
.column-grid.index2 img {
  max-width: 300px;
  /* max-height: 300px; */
}
.column-grid.index3 img {
  max-width: 300px;
  max-height: 150px;
}
.column-grid.index3 img:nth-child(1) {
  max-width: 300px;
  max-height: 300px;
}
.column-grid img {
  margin-top: 8px;
  vertical-align: middle;
  max-height: 400px;
  max-width: 300px;
}
/* button action */
mat-dialog-actions.mat-dialog-actions.ng-star-inserted{
  /* display: flex; */
  /* justify-content:space-around; */
  margin-top: 12px;
}
.btn-actions {
  display: flex;
  justify-content:space-around;
  width: 100%;
}
.btn-actions button {
  width: 100%;
}

button.mat-focus-indicator.mat-button.mat-button-base{
  width: 100%;
}
/* comment */
.showcomment {
  width: 100%;
  background-color: whitesmoke;
}
nz-comment.ant-comment{
  border-radius:0 0 20x 20px
}
nz-list {
  background-color: whitesmoke;
}

/*Tags*/
.tags{
  display: flex;
  margin-left:12px;
  margin-right: 8px;
}
.tags p {
  color:peru;
}
.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.attribute-action {
  border-top: 1px solid rgb(98 87 87 / 68%);
  margin: 0 27px;
  width: calc(100% - 54px);
}
.comment-avatar {
  margin: 0;
}

.comment-attributes {
  padding-left: 28px;
}

.comment-content {
  padding-left: 10px;
}
::ng-deep .ant-comment-content {
  padding-left: 12px;
}

::ng-deep .ant-card-body {
  padding: 0;
}

.comemnt-attributes {
  display: block;
  justify-content: center;
  background-color: white;
  align-items: flex-start;
  padding: 10px;
}

.main-comment{
  display: flex;
}

.comemnt-attributes .comemnt-avatar {
  padding: 0 20px 20px;
}

.comemnt-attributes .comemnt-content {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f2f5;
  border-radius: 18px;
  flex: 1;
  padding: 12px;
}

.comemnt-attributes .comemnt-content .comemnt-content-name {
  color: black;
  font-size: 12px;
}

.comemnt-attributes .comemnt-content .comemnt-content-body {
  font-size: 14px;
  color: rgb(136, 24, 24);
  word-break: break-all;
  text-align: left;
}

.comemnt-attributes .comemnt-more {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color:black;
}

.comment-reply{
  margin: 10px 0 5px 6%;
  display: flex;
}