<div class="post-container">
  <!-- Show Post -->
  <nz-card style="width:631px;" [nzCover]="coverTemplate">

  </nz-card>

  <ng-template #coverTemplate>
    <div class="inf">
      <nz-avatar nzSrc={{dataPost.avatar}}></nz-avatar>
      <div class="inf-header">
        <h2 (click)="goToProfile()">{{dataPost.author}}</h2>
        <span>{{dataPost.createdTime}}</span>
        <!-- <span>{{dataPost.datetime}}</span> -->
      </div>
    </div>
    <p class="content-post">{{dataPost.content}}</p>
    <div class="tags">
      <p class="tags">Tags :</p>
      <!-- <mat-chip-list
  class="example-chip"
  cdkDropList 
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let vegetable of vegetables">
    {{vegetable.name}}
  </mat-chip>
</mat-chip-list> -->
      <div *ngFor="let vegetable of vegetables">
        <nz-page-header-tags>
          <nz-tag [nzColor]="'blue'">{{vegetable.name}}</nz-tag>
        </nz-page-header-tags>
      </div>
    </div>
    <div class="row-grid">
      <!-- <div class="column-grid">
      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <img *ngIf="i<4" nz-image nzSrc='{{item}}' alt="" />
      </ng-template>
    </div> -->
      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div *ngIf="dataPost.images && dataPost.images.length ==1" class="column-grid index1">
          <img *ngIf="i<1" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>

      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div *ngIf="dataPost.images && dataPost.images.length ==2" class="column-grid index2">
          <img *ngIf="i<2" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>

      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div *ngIf="dataPost.images && dataPost.images.length >=3" class="column-grid index3">
          <img *ngIf="i<3" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>
    </div>

    <mat-dialog-actions class="attribute-action" align="center">
      <div class="btn-actions">
        <button mat-button color="accent" (click)="actionLikes()"> {{dataPost.like}} Like</button>
        <div *ngIf="numberCmt">
          <button mat-button color="primary" (click)="showWritenCmt()">{{numberCmt}} Comment</button>
        </div>
        <div *ngIf="!numberCmt">
          <button mat-button color="primary" (click)="showWritenCmt()"> Comment</button>
        </div>
        <button mat-button color="warn">Share</button>
      </div>
    </mat-dialog-actions>
  </ng-template>



  <!-- Show comment -->
  <div class="showcomment">
    <ng-template [ngIf]="isWritenCmt">
      <ng-template [ngIf]="dataReply.length!= 0">
        <div *ngFor="let item of dataReply" class="comemnt-attributes">
          <div class="comemnt-avatar">
            <img style="object-fit: cover; width: 32px; height: 32px; border-radius: 32px;"
              src={{item[0].ownerAvatarUrl}}>
          </div>
          <div style="flex: 1">
            <div class="comemnt-content">
              <div class="comemnt-content-name"><b>{{item[0].ownerName}}</b><span> {{item[0].createdTime}}</span></div>
              <div class="comemnt-content-body">{{item[0].content}}</div>
            </div>
          </div>
          <div class="comemnt-more">
            <div>...</div>
          </div>
        </div>
        
      </ng-template>
      <ng-template [ngIf]="isWritenCmt">
        <app-addcomment></app-addcomment>
      </ng-template>
    </ng-template>
    <!-- <ng-template [ngIf]="isWritenCmt">
    <ng-template [ngIf]="dataReply.length!= 0">
      <nz-list [nzDataSource]="dataReply" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item[0].ownerName" [nzDatetime]="item.datetime" class="comment-attributes"> -->
    <!-- <p>{{item[0].ownerAvatarUrl}}</p> -->
    <!-- <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item[0].ownerAvatarUrl" class="comment-avatar"></nz-avatar>
            <nz-comment-content class="comment-content">
              <p>{{ item[0].content }}</p>
            </nz-comment-content>
            <nz-comment-action>Reply to</nz-comment-action>
          </nz-comment>
        </ng-template>
      </nz-list>
    </ng-template>
  </ng-template> -->
    <!-- <input #ref1 type="text" [(ngModel)]="isWritenCmt" /> -->
    <!-- <ng-template [ngIf]="isWritenCmt">
    <app-addcomment></app-addcomment>
  </ng-template> -->


  </div>



</div>