<!-- Show Post -->
<nz-card style="width:633px;" [nzCover]="coverTemplate" >

</nz-card>

<ng-template #coverTemplate>
  <div class="inf">
    <nz-avatar nzSrc={{dataPost.avatar}}></nz-avatar>
    <div class="inf-header">
      <h2>{{dataPost.author}}</h2>
      <span>{{dataPost.createdTime}}</span>
      <!-- <span>{{dataPost.datetime}}</span> -->
    </div>
  </div>
  <p class="content-post">{{dataPost.content}}</p>
  <div class="row-grid">
    <!-- <div class="column-grid">
      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <img *ngIf="i<4" nz-image nzSrc='{{item}}' alt="" />
      </ng-template>
    </div> -->
      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div  *ngIf="dataPost.images && dataPost.images.length ==1" class="column-grid index1">
          <img *ngIf="i<1" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>

      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div  *ngIf="dataPost.images && dataPost.images.length ==2" class="column-grid index2">
          <img *ngIf="i<2" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>

      <ng-template ngFor let-item [ngForOf]="dataPost.images" let-i="index">
        <div  *ngIf="dataPost.images && dataPost.images.length >=3" class="column-grid index3">
          <img *ngIf="i<3" nz-image nzSrc='{{item}}' alt="" />
        </div>
      </ng-template>
  </div>
  <mat-dialog-actions  align="center">
    <button mat-button  color="accent" (click)="actionLikes()"> {{dataPost.like}} Thích</button>
    <div *ngIf="numberCmt">
      <button mat-button  color="primary" (click)="showWritenCmt()">{{numberCmt}} Comment</button>
    </div>
    <div *ngIf="!numberCmt">
      <button mat-button  color="primary" (click)="showWritenCmt()"> Comment</button>
    </div>  
    <button mat-button  color="warn">{{randomNumberShare}} Share</button>
  </mat-dialog-actions>
</ng-template>
<!-- <ng-template #actionLike>
  <p (click)="actionLikes()">
    {{dataPost.like}} Like
  </p>
</ng-template>
<ng-template #actionComment>
  <div *ngIf="numberCmt">
    <p (click)="showWritenCmt()">{{numberCmt}}Comment</p>
  </div>
  <div *ngIf="!numberCmt">
    <p (click)="showWritenCmt()">Comment</p>
  </div>
</ng-template>
<ng-template #actionShare>
  {{randomNumberShare}} Share
</ng-template> -->

<!-- Show comment -->
<div class="showcomment">
  <ng-template [ngIf]="isWritenCmt">
    <ng-template [ngIf]="dataRelpy.length!= 0">
      <nz-list [nzDataSource]="dataRelpy" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item[0].ownerName" [nzDatetime]="item.datetime">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]=" item[0].avatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ item[0].content }}</p>
            </nz-comment-content>
            <nz-comment-action>Reply to</nz-comment-action>
          </nz-comment>
        </ng-template>
      </nz-list>
    </ng-template>
  </ng-template>
  <!-- <input #ref1 type="text" [(ngModel)]="isWritenCmt" /> -->
  <ng-template [ngIf]="isWritenCmt">
    <app-addcomment></app-addcomment>
  </ng-template>
</div>
