
.count {
    padding-left: 8px;
    cursor: auto;
    width: 300px;
  }
  .ant-comment-rtl .count {
    padding-right: 8px;
    padding-left: 0;
  }
  
  .inf{
    display: flex;
  }
  .inf-header {
    text-align:left;
  }
  p.ng-star-inserted {
    text-align:left;
  }
  .action{
    display: flex;
    text-align:center;
  }
  .ant-card-body {
    padding:0;
  }
  
  /* comment */
  /* .ant-comment-inner{
    width:500px !important;
  } */
  p.ng-star-inserted {
      text-align: center;
  }
  p.content-post.ng-star-inserted{
    margin-left: 24px;
    text-align: left;
  }
  img.ng-star-inserted {
    height: 400px;
    object-fit: cover;
}

nz-card {
  margin-top:24px;
}
nz-comment { 
  background-color: white;
}
nz-comment textarea.ant-input {
  background-color: whitesmoke;
  margin-right: 24px;
}


/* css gallery  */

.row-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-grid {
  flex: 50%;
  padding: 0 4px;
}

.column-grid img {
  margin-top: 8px;
  vertical-align: middle;
}