<div class="post-container">
    <!-- Show Post -->
    <nz-card style="width:100%; border-radius: 6px;" [nzCover]="coverTemplate">

    </nz-card>

    <ng-template #coverTemplate>
        <div class="header-inf">
            <div class="inf">
                <nz-avatar #avatar onmouseover="openDialogMiniProfile(this)" onmouseout="closeDialogMiniProfile(this)" nzSrc={{dataPost.avatar}}></nz-avatar>
                <div class="inf-header">
                    <h2 #author (click)="goToProfile()">{{dataPost.author}}</h2>
                    <span>{{dataPost.createdTime}}</span>
                </div>
            </div>
            <button *ngIf="isShowOptions" nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu"
                style="border: none; padding: 0;background-color:whitesmoke ;">
                <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="openDialogUpdate(dataPost,'post')">Chỉnh sửa</li>
                    <li nz-menu-item (click)="openDialogDelete(dataPost.idpost,'post')">Xóa</li>
                </ul>
            </nz-dropdown-menu>
        </div>

        <p class="content-post">{{dataPost.content}}</p>
        <div class="tags">
            <p class="tagss">Tags: </p>
            <div *ngFor="let tag of dataPost.tags">
                <nz-page-header-tags>
                    <nz-tag [nzColor]="'blue'">{{tag}}</nz-tag>
                </nz-page-header-tags>
            </div>
        </div>

        <div class="row-grid">
            <div *ngIf="dataPost.images && dataPost.images.length ==1" class="one">
                <div class='image' style="background-image: url('{{dataPost.images[0]}}')"></div>
            </div>

            <div *ngIf="dataPost.images && dataPost.images.length ==2" class="two">
                <div class='image' style="background-image: url('{{dataPost.images[0]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[1]}}')">
                </div>
            </div>

            <div *ngIf="dataPost.images && dataPost.images.length ==3" class="three">
                <div class='image' style="background-image: url('{{dataPost.images[0]}}')">
                </div>
                <div class="right">
                    <div class='image' style="background-image: url('{{dataPost.images[1]}}')">
                    </div>
                    <div class='image' style="background-image: url('{{dataPost.images[2]}}')">
                    </div>
                </div>
            </div>

            <div *ngIf="dataPost.images && dataPost.images.length ==4" class="four">
                <div class='image' style="background-image: url('{{dataPost.images[0]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[1]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[2]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[3]}}')">
                </div>
            </div>

            <div *ngIf="dataPost.images && dataPost.images.length ==5" class="five">
                <a href="{{dataPost.images[0]}}" class='image' style="background-image: url('{{dataPost.images[0]}}')">
                </a>
                <a href="{{dataPost.images[1]}}" class='image' style="background-image: url('{{dataPost.images[1]}}')">
                </a>
                <div class='image' style="background-image: url('{{dataPost.images[2]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[3]}}')">
                </div>
                <div class='image' style="background-image: url('{{dataPost.images[4]}}')">
                </div>
            </div>

        </div>




        <mat-dialog-actions class="attribute-action" align="center">
            <div class="btn-actions">
                <button mat-button color="accent" (click)="actionLikes()"> {{dataPost.like}} Like</button>
                <div *ngIf="numberCmt">
                    <button style="width: 22em;" class='comment' mat-button color="primary"
                        (click)="showWritenCmt()">{{numberCmt}}
                        Comment</button>
                </div>
                <div *ngIf="!numberCmt">
                    <button mat-button color="primary" (click)="showWritenCmt()"> Comment</button>
                </div>
                <!-- <div class="share">
                    <button mat-button color="warn">Share</button>
                    <share-buttons [theme]="'modern-dark'"
                    [include]="['facebook','twitter','linkedin','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
                    [show]="0" [url]="'https://twitter.com/'" [autoSetMeta]="false">
                Share</share-buttons>
                </div> -->
                <share-button button="facebook" text="Share" [showText]="true"
                    [url]="'https://rvfood.herokuapp.com/home/post'"></share-button>

            </div>
        </mat-dialog-actions>
    </ng-template>



    <!-- Show comment -->
    <div class="showcomment">
        <ng-template [ngIf]="isWritenCmt">
            <ng-template [ngIf]="comment.length!= 0">
                <div *ngFor="let item of comment; let i = index" class="comment-attributes">
                    <div class="main-comment">
                        <div class="comment-avatar">
                            <img style="object-fit: cover; width: 32px; height: 32px; border-radius: 32px;"
                                src={{item.ownerAvatarUrl}}>
                        </div>
                        <div style="flex: 1">
                            <div class="comment-content">
                                <div class="comment-content-name"><b>{{item.ownerName}}</b><span>
                                        {{item.createdTime}}</span></div>
                                <div class="comment-content-body">{{item.content}}</div>
                            </div>
                        </div>
                        <div class="comment-more">
                            <div>...</div>
                        </div>
                    </div>
                    <div class="reply-button">
                        <button mat-button (click)="likeComment(item.id)"> Like</button>
                        <button mat-button (click)="showWriteReply(item.id)"> Reply</button>
                    </div>
                    <!-- Show reply comment -->
                    <ng-template [ngIf]="item.commentReply.length != 0">
                        <div *ngFor="let reply of item.commentReply" class="comment-reply">
                            <div class="comment-avatar">
                                <img style="object-fit: cover; width: 32px; height: 32px; border-radius: 32px;"
                                    src={{reply.ownerAvatarUrl}}>
                            </div>
                            <div style="flex: 1">
                                <div class="comment-content">
                                    <div class="comment-content-name"><b>{{reply.ownerName}}</b><span>
                                            {{reply.createdTime}}</span>
                                    </div>
                                    <div class="comment-content-body">{{reply.content}}</div>
                                </div>
                            </div>
                            <div class="comment-more">
                                <div>...</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="item.id === idReplyToShow && isWritenCmt">
                        <div class="blank-comment-reply">
                            <app-addcomment [id]="item.id"></app-addcomment>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template [ngIf]="isWritenCmt">
                <app-addcomment></app-addcomment>
            </ng-template>
        </ng-template>

    </div>



</div>