@import url(https://fonts.googleapis.com/css?family=Pacifico);
*{
  font-family: 'Pacifico' !important;
}
.header {
  position: fixed;
  z-index: 6;
  width: 100%;
  top: 0;
  
}
.silderbar-left {
  position: fixed;
  z-index: 5;
  height: 100%;
  bottom: 0;
}

.profile {
  margin-top: 64px;
  margin-left: 300px;
  background-color: lightblue;
  background-color: rgba(16, 142, 233, 1);
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}

nz-page-header{
  border-radius: 0 0 20px 20px;
  background-color: #ffff;
}
nz-page-header,.profile-content {
  width: 960px;
  margin: auto;
}

nz-carousel {
  height:320px;
  width: 960px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 20px;

}
  
[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }
  [nz-image] {
    height:320px;
    width: 960px;
    object-fit: cover;
  }
  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
  }
/* Nav */
::ng-deep.ant-tabs-tab-btn {
  width: 250px !important;
  text-align: center !important;
}
::ng-deep.ant-tabs-nav-wrap {
  display: flex !important;
  justify-content: center !important;
}


/* headerpage */
  .content {
    flex: 1;
  }

  .content p {
    margin-bottom: 1em;
  }

  .content-link a {
    margin-right: 16px;
  }

  .content-link a img {
    margin-right: 8px;
  }

  .content-image {
    margin: 0 0 0 60px;
    display: flex;
    align-items: center;
  }

  .content-image img {
    width: 100%;
  }

  button.createpost ,button.edit{
    background: linear-gradient(99.27deg, #FF1CF6 -35.3%, rgba(253, 96, 28, 0.74) 66.33%, #DE2442 138.45%);
    /* border-radius: 5px; */
    width:200px;
    height:36px;
    margin-top:24px;
  }
  button.edit{
    background: #1B1D28;
    margin-left: 24px;
    color: white;
  }

  /* silder-right */
  .silder-right{
    position: fixed;
    bottom: 24px;
    right: 24px;
  }
  @media (max-width: 768px) {
    .content-image {
      flex: 100%;
      margin: 24px 0 0;
    }
  }

  ::ng-deep.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color:#fff !important;
  }
