.information{
  margin-top:24px;
  width:90%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.header {
    text-align: center;
    font-weight :bold;
    margin-top: 24px;
}
.content {
    display: flex;
    justify-content:space-around;
}
.filters {
    display: flex;
    flex-direction: column;
}
.filter{
	display: flex;
	margin: 12px;
}
.filter h2 {
    font-size: 14px;
    font-weight: bold;
    color: blue;
}
.filter :nth-child(2) {
    color:black;
    margin-left: 8px;
}

/* Icons */
.social{
    display: flex;
	flex-direction: column;
    font-size: 12px;
}
svg {
    height: 36px;
    width: 36px;
    margin-right: 8px;
}
.icon-svg {
    display: flex;
    margin: 24px;
}
a {
    color: blue;
    font-weight: bold;
    font-size:14px;
}

@media (max-width: 425px) {
    .filter {
        margin: 8px;
        font-size:12px;

    }
    svg {
        height:16px;
        height:16px;
    }
    .icon-svg {
        margin:8px;
    }
    a {
        font-size:12px;
    }
  }
  @media (max-width: 768px) {
    .filter {
        margin: 8px;
        font-size:12px

    }
    svg {
        height:24px;
        height:24px;
    }
    .icon-svg {
        margin:12px 0;
    }
    a {
        font-size:14px;
    }
  }