<div class="dialog-rating-shop">
  <!-- <div class="header">
    <div class="inf-shop">
      avatar
      <p>Shopname</p>
    </div>
    <div class="rating-current">
      8 Sao
    </div>
  </div>
  <span class="description">description</span>
  <span class="address">address</span>
  <span class="address">7h - 22h </span> -->
  <pre class="header"> Rating Shop</pre>

  <div class="rating-index" id="">
    <pre>Vị trí : <b>{{currentRate[0]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[0]"></ngb-rating>
    <hr>
  </div>

  <div class="rating-index" id="">
    <pre>Giá cả : <b>{{currentRate[1]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[1]"></ngb-rating>
    <hr>
  </div>

  <div class="rating-index" id="">
    <pre>Chất lượng : <b>{{currentRate[2]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[2]"></ngb-rating>
    <hr>
  </div>

  <div class="rating-index" id="">
    <pre>Phục vụ : <b>{{currentRate[3]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[3]"></ngb-rating>
    <hr>
  </div>

  <div class="rating-index" id="">
    <pre>Không gian : <b>{{currentRate[4]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[4]"></ngb-rating>
    <hr>
  </div>

  <div class="rating-index" id="">
    <pre>Tổng quan : <b>{{currentRate[5]}}</b></pre>

    <ngb-rating [(rate)]="currentRate[5]"></ngb-rating>
    <hr>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Hủy</button>
    <button mat-button color="accent" (click)="submitForm()">Đánh giá</button>
  </mat-dialog-actions>

</div>