<div class="chat">
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
    <div class="friends">
        <label nz-radio-button nzValue="large">Bạn Bè 1 </label>
        <span>Bạn Bè 1 </span>
    </div>
</div>
