<div class="container">
    <div class="login" [formGroup]="myGroup" (change)="checkValue()">
      <h1>Chỉnh sửa thông tin cá nhân</h1>
      <br><br />
  
      <div class="info-name">
        <mat-form-field appearance="fill">
          <mat-label>Họ</mat-label>
          <input matInput type="text" class="example-right-align" placeholder="" formControlName="firstName" >
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Tên</mat-label>
          <input matInput type="text" class="example-right-align" placeholder="" formControlName="lastName" >
        </mat-form-field>
      </div>
  
      <!-- <mat-form-field appearance="fill">
        <mat-label>Avatar</mat-label>
        <input matInput type="text" class="example-right-align" placeholder="" formControlName="avatar" >
      </mat-form-field>
   -->
      <mat-form-field appearance="fill">
        <mat-label>Số điện thoại</mat-label>
        <input matInput type="text" class="example-right-align" placeholder="" formControlName="phone" >
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Địa chỉ</mat-label>
        <input matInput type="text" class="example-right-align" placeholder="" formControlName="address" >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" class="example-right-align" placeholder="" formControlName="email" >
      </mat-form-field>
  
      <div class="actions">
        <button mat-raised-button (click)="back()" >Trở lại</button>
        <button mat-raised-button color="primary" (click)="updateProfile()" [disabled]="isDisabled">Chỉnh sửa thông tin</button>
      </div>
    </div>
  </div>