@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
*{
    font-family: Tahoma, sans-serif !important;
}

.title{
    width: 100%;
    font-size: large;
    margin: 15px 20px 15px 0px;
    color: rgb(11, 32, 129);
}
.search-result{
    width: 80%;
    border-radius: 4px;
    border: 1px solid rgb(252, 251, 251);
    display: flex;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    height: auto;
    padding-bottom: 10px;
}

.search-result:hover {
    box-shadow: 0 14px 28px rgba(20, 20, 20, 0.25), 0 10px 10px rgba(27, 27, 27, 0.22);
  }

.search-image{
    width: 10em;
    height: auto;
    padding: 20px 20px 10px 20px;
    object-fit: scale-down;
    border-radius: 2px;
}
img {
    max-width: 95%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    border: 2px solid rgb(66, 177, 214);
}
.search-description{
    padding: 20px 20px 10px 20px;
}
.info-common{
    padding-bottom: 8px;
}
.name{
    color: rgb(22, 50, 102);
    font-size: large;
}
.name:hover{
    color: rgb(4, 18, 95);
}

  
 